@charset "UTF-8";
:root.dark {
  --primary-bg: #000000;
  --primary-font-color: #ffffff;
  --input-color: #1f1f1f;
  --icon-color: #a444f3;
  --after-element: #a444f3;
}

:root:not(.dark) {
  --primary-bg: #ffffff;
  --primary-font-color: #000000;
  --input-color: #ddd6fe;
  --icon-color: #a444f3;
  --after-element: #ffffff;
}

*,
::before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 16px 0;
  font-family: serif;
  font-size: 16px;
  background-color: var(--primary-bg);
  color: var(--primary-font-color);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50vw;
  min-width: 250px;
  max-width: 1024px;
  padding: 0 8px;
}
@media (max-width: 768px) {
  .app-wrapper {
    width: 100%;
    padding: 0 24px;
  }
}

.app-header {
  display: flex;
  justify-content: space-between;
}
.app-header .logo {
  font-size: clamp(2rem, 3vw, 3rem);
}
.app-header .header-controls {
  display: flex;
  align-items: center;
  gap: 32px;
}
.app-header .header-controls .select-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  gap: 8px;
}
.app-header .header-controls .select-wrapper .font-select {
  appearance: none;
  padding: 8px;
  border: none;
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-family: serif;
  background-color: transparent;
  color: #9b9b9b;
  cursor: pointer;
}
.app-header .header-controls .select-wrapper .font-label {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.app-header .header-controls .select-wrapper .font-label .arrow-down {
  fill: #a444f3;
}
.app-header .header-controls .theme-wrapper {
  display: flex;
  gap: 8px;
}
.app-header .header-controls .theme-wrapper .theme-label {
  display: flex;
  align-items: center;
}
.app-header .header-controls .theme-wrapper .theme-label .moon {
  fill: var(--icon-color);
  width: 24px;
}
.app-header .header-controls .theme-wrapper .theme-input {
  position: relative;
  appearance: none;
  width: 54px;
  height: 32px;
  border-radius: 24px;
  background-color: #4a4a4a;
  transition: 0.5s;
}
.app-header .header-controls .theme-wrapper .theme-input:checked {
  background-color: #a444f3;
}
.app-header .header-controls .theme-wrapper .theme-input:before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 20px;
  top: 10%;
  left: 5%;
  background-color: #ffffff;
  transition: 0.5s;
}
.app-header .header-controls .theme-wrapper .theme-input:checked:before {
  left: 95%;
  transform: translateX(-100%);
}

.search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.search-form .search-input {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 24px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-family: inherit;
  background-color: var(--input-color);
  color: var(--primary-font-color);
}
.search-form .search-input::placeholder {
  font-size: clamp(1rem, 2vw, 1.3rem);
  color: #9b9b9b;
}
.search-form .search-input.red-outline {
  outline: 2px solid red;
}
.search-form .search-label {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
.search-form .search-label .search-button {
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search-form .search-label .search-button .lens {
  width: 24px;
  fill: #a444f3;
}

.result-wrapper .result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-wrapper .result-header .left-column {
  display: flex;
  flex-direction: column;
}
.result-wrapper .result-header .left-column .phrase {
  font-size: clamp(2.5rem, 6vw, 3rem);
  font-weight: bold;
}
.result-wrapper .result-header .left-column .pronunciation {
  font-size: clamp(1.5rem, 4vw, 2rem);
  color: #a444f3;
}
.result-wrapper .result-header .pronunciation-button {
  background-color: #e8d0fa;
  padding: 1rem 1.275rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.result-wrapper .result-header .pronunciation-button .speaker-icon {
  font-size: 32px;
  color: var(--icon-color);
}
.result-wrapper .result-content-list {
  list-style: none;
}
.result-wrapper .result-content-list .parts-of-speech {
  padding-top: 32px;
}
.result-wrapper .result-content-list .parts-of-speech .type-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
}
.result-wrapper .result-content-list .parts-of-speech .type-container .type {
  display: inline-block;
  font-family: serif;
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: bold;
}
.result-wrapper .result-content-list .parts-of-speech .type-container .purple-line {
  width: 100%;
  height: 1px;
  transform: translateY(2px);
  background-color: #a444f3;
}
.result-wrapper .result-content-list .parts-of-speech .meaning {
  display: inline-block;
  padding-bottom: 8px;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  color: #9b9b9b;
}
.result-wrapper .result-content-list .parts-of-speech .definitions-list {
  list-style: none;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  color: #4a4a4a;
}
.result-wrapper .result-content-list .parts-of-speech .definitions-list .definition {
  position: relative;
  padding-bottom: 8px;
  padding-left: 16px;
}
.result-wrapper .result-content-list .parts-of-speech .definitions-list .definition::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #a444f3;
}
.result-wrapper .result-content-list .parts-of-speech .synonyms {
  display: flex;
  gap: 8px;
  padding-top: 16px;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
}
.result-wrapper .result-content-list .parts-of-speech .synonyms .synonym-tag {
  color: #9b9b9b;
}
.result-wrapper .result-content-list .parts-of-speech .synonyms .synonyms-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  color: #a444f3;
  font-weight: bold;
  cursor: pointer;
}
.result-wrapper .result-footer {
  display: flex;
  gap: 8px;
  width: 100%;
  font-size: clamp(0.8rem, 1vw, 1rem);
  padding-top: 32px;
}
.result-wrapper .result-footer .source-tag {
  color: #9b9b9b;
}
.result-wrapper .result-footer .source {
  color: #4a4a4a;
}
.result-wrapper .message {
  font-size: clamp(2.1875rem, 2.3295rem - 0.7102vw, 1.275rem);
  padding-bottom: 20px;
}
.result-wrapper .message.centered {
  text-align: center;
}
.result-wrapper .message .query {
  color: var(--icon-color);
}
.result-wrapper .suggestions-title {
  font-size: clamp(1.25rem, 1.3636rem - 0.5682vw, 1rem);
}
.result-wrapper .suggestions {
  padding: 24px;
}
.result-wrapper .suggestions .suggestion {
  padding-bottom: 8px;
}
.result-wrapper .suggestions .suggestion::marker {
  color: var(--icon-color);
}