@charset "UTF-8";
:root.dark {
  --primary-bg: #000000;
  --primary-font-color: #ffffff;
  --input-color: #1f1f1f;
  --icon-color: #a444f3;
  --after-element: #a444f3;
}

:root:not(.dark) {
  --primary-bg: #ffffff;
  --primary-font-color: #000000;
  --input-color: #ddd6fe;
  --icon-color: #a444f3;
  --after-element: #ffffff;
}

*,
::before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: serif;
  margin: 20px auto;
  align-items: center;
  font-size: 16px;
  min-height: 100vh;
  width: 50vw;
  min-width: 250px;
  max-width: 1024px;
  background-color: var(--primary-bg);
  color: var(--primary-font-color);
}
@media (max-width: 480px) {
  body {
    width: 100%;
  }
}

svg {
  min-width: 1vw;
}

.app-wrapper {
  width: 50vw;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}
@media (max-width: 480px) {
  .app-wrapper {
    width: 100%;
  }
}

.app-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.app-header .logo {
  font-size: clamp(2rem, 3vw, 3rem);
}
.app-header .app-form {
  display: flex;
  align-items: center;
  gap: 20px;
}
.app-header .app-form .select-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  gap: 5px;
}
.app-header .app-form .select-wrapper .font-select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.3em;
  font-family: serif;
  color: #9b9b9b;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.3rem);
}
.app-header .app-form .select-wrapper .font-label {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.app-header .app-form .select-wrapper .font-label .arrow-down {
  fill: #a444f3;
}
.app-header .app-form .theme-wrapper {
  position: relative;
  display: flex;
  gap: 5px;
}
.app-header .app-form .theme-wrapper .theme-label {
  display: flex;
  align-items: center;
}
.app-header .app-form .theme-wrapper .theme-label .moon {
  fill: var(--icon-color);
  width: 15px;
}
.app-header .app-form .theme-wrapper .theme-input {
  appearance: none;
  background-color: #4a4a4a;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  transition: 0.5s;
}
.app-header .app-form .theme-wrapper .theme-input:checked {
  background-color: #a444f3;
}
.app-header .app-form .theme-wrapper .theme-input:before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 20px;
  top: 9%;
  left: 1%;
  background-color: #ffffff;
  transition: 0.5s;
}
.app-header .app-form .theme-wrapper .theme-input:checked:before {
  left: 22px;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.search-form .search-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-family: serif;
  background-color: var(--input-color);
  font-weight: bold;
  color: var(--primary-font-color);
}
.search-form .search-input::placeholder {
  font-size: clamp(1rem, 2vw, 1.3rem);
  color: #9b9b9b;
}
.search-form .search-label {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.search-form .search-label > .lens {
  width: 2vw;
  min-width: 15px;
  max-width: 40px;
  cursor: pointer;
  fill: var(--icon-color);
}

.result-wrapper .lexico-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-wrapper .lexico-entry .lexico-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.result-wrapper .lexico-entry .lexico-phrase {
  font-size: clamp(2.5rem, 6vw, 3rem);
  font-weight: bold;
}
.result-wrapper .lexico-entry .pronunciation-button {
  padding: 1rem 1.275rem;
  border: none;
  border-radius: 50%;
  background-color: #e8d0fa;
  cursor: pointer;
}
.result-wrapper .lexico-entry .pronunciation-button .speaker {
  font-size: 1.7rem;
  vertical-align: middle;
  color: var(--icon-color);
}
.result-wrapper .lexico-pronunciation {
  font-size: clamp(1.5rem, 4vw, 2rem);
  color: #a444f3;
}

.parts-of-speech {
  padding-top: 2rem;
}
.parts-of-speech .part-of-speech-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
.parts-of-speech .part-of-speech-container .part-of-speech {
  display: inline-block;
  font-family: serif;
  font-weight: bold;
  font-size: clamp(1.5rem, 4vw, 2rem);
}
.parts-of-speech .part-of-speech-container .purple-line-container {
  padding-top: 7px;
  display: flex;
  align-items: center;
  width: 100%;
}
.parts-of-speech .part-of-speech-container .purple-line {
  width: 100%;
  border: 1px solid #a444f3;
}
.parts-of-speech .meaning {
  display: inline-block;
  padding-bottom: 0.8rem;
  color: #9b9b9b;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
}
.parts-of-speech .definitions-list {
  list-style: none;
  color: #4a4a4a;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  list-style-position: outside;
}
.parts-of-speech .definitions-list .definition {
  padding-bottom: 0.5rem;
  padding-left: 2.1rem;
  position: relative;
}
.parts-of-speech .definitions-list .definition::before {
  content: "•";
  color: #a444f3;
  position: absolute;
  left: 3%;
}
.parts-of-speech .synonyms {
  display: flex;
  padding-top: 2rem;
  gap: 10px;
  font-size: clamp(1.3rem, 3vw, 1.5rem);
}
.parts-of-speech .synonyms .synonyms-tag {
  color: #9b9b9b;
}
.parts-of-speech .synonyms .synonyms-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  color: #a444f3;
  font-weight: bold;
}
.parts-of-speech .usage {
  color: #9b9b9b;
  font-size: 14px;
  padding-left: 1rem;
  font-size: clamp(0.75rem, 0.6932rem + 0.2841vw, 0.875rem);
}

footer {
  display: flex;
  gap: 10px;
  width: 100%;
  font-size: clamp(0.8rem, 1vw, 1rem);
  padding-top: 1.5rem;
}
footer .source-tag {
  color: #9b9b9b;
}
footer .source {
  color: #4a4a4a;
}

.search-message .message-heading {
  padding-bottom: 20px;
  font-size: clamp(2.1875rem, 2.3295rem - 0.7102vw, 1.275rem);
}
.search-message .message-heading .query {
  color: var(--icon-color);
}

.suggestions {
  font-size: clamp(1.25rem, 1.3636rem - 0.5682vw, 1rem);
}

.suggestions-list {
  padding: 20px;
}
.suggestions-list .suggestion-item {
  padding-bottom: 8px;
}
.suggestions-list .suggestion-item::marker {
  color: var(--icon-color);
}