$primary-font-family: serif;
$base-font-size: 16px;

$--primary-bg: --primary-bg;
$--primary-font-color: --primary-font-color;
$--input-color: --input-color;
$--icon-color: --icon-color;
$--after-element: --after-element;
