@import "partials/colors";
@import "partials/variables";
@import "partials/themes";
@import "partials/mixins";
@import "partials/breakpoints";

:root.dark {
  @include theme-colors($theme-map-dark);
}

:root:not(.dark) {
  @include theme-colors($theme-map-light);
}

*,
::before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 16px 0;
  font-family: $primary-font-family;
  font-size: $base-font-size;
  @include css-var-styles(background-color, $--primary-bg);
  @include css-var-styles(color, $--primary-font-color);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50vw;
  min-width: 250px;
  max-width: 1024px;
  padding: 0 8px;

  @include breakpoint(tablet) {
    width: 100%;
    padding: 0 24px;
  }
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 24px;
    height: 24px;
  }

  .header-controls {
    display: flex;
    align-items: center;
    gap: 32px;

    .select-wrapper {
      display: flex;
      align-items: center;
      position: relative;
      gap: 8px;

      .font-select {
        appearance: none;
        padding: 8px;
        border: none;
        font-size: clamp(1rem, 2vw, 1.3rem);
        font-family: $primary-font-family;
        background-color: transparent;
        color: $light-grey;
        cursor: pointer;
      }

      .font-label {
        display: inline-block;
        width: 16px;
        height: 16px;

        .arrow-down {
          fill: $purple;
        }
      }
    }

    .theme-wrapper {
      display: flex;
      gap: 8px;

      .theme-label {
        display: flex;
        align-items: center;

        .moon {
          @include css-var-styles(fill, $--icon-color);
          width: 24px;
        }
      }

      .theme-input {
        position: relative;
        appearance: none;
        width: 54px;
        height: 32px;
        border-radius: 24px;
        background-color: $grey;
        transition: 0.5s;

        &:checked {
          background-color: $purple;
        }

        &:before {
          position: absolute;
          content: "";
          width: 24px;
          height: 24px;
          border-radius: 20px;
          top: 10%;
          left: 5%;
          background-color: $white;
          transition: 0.5s;
        }
        &:checked:before {
          left: 95%;
          transform: translateX(-100%);
        }
      }
    }
  }
}

.search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  .search-input {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 24px;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: inherit;
    @include css-var-styles(background-color, $--input-color);
    @include css-var-styles(color, $--primary-font-color);

    &::placeholder {
      font-size: clamp(1rem, 2vw, 1.3rem);
      color: $light-grey;
    }

    &.red-outline {
      outline: 2px solid red;
    }
  }

  .search-label {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    .search-button {
      padding: 8px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      .lens {
        width: 24px;
        fill: #a444f3;
      }
    }
  }
}

.result-wrapper {
  .result-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-column {
      display: flex;
      flex-direction: column;

      .phrase {
        font-size: clamp(2.5rem, 6vw, 3rem);
        font-weight: bold;
      }

      .pronunciation {
        font-size: clamp(1.5rem, 4vw, 2rem);
        color: $purple;
      }
    }

    .pronunciation-button {
      background-color: $light-purple;
      padding: 1rem 1.275rem;
      border: none;
      border-radius: 50%;
      cursor: pointer;

      .speaker-icon {
        font-size: 32px;
        @include css-var-styles(color, $--icon-color);
      }
    }
  }

  .result-content-list {
    list-style: none;

    .parts-of-speech {
      padding-top: 32px;

      .type-container {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        padding-bottom: 8px;

        .type {
          display: inline-block;
          font-family: $primary-font-family;
          font-size: clamp(1.5rem, 4vw, 2rem);
          font-weight: bold;
        }

        .purple-line {
          width: 100%;
          height: 1px;
          transform: translateY(2px);
          background-color: $purple;
        }
      }

      .meaning {
        display: inline-block;
        padding-bottom: 8px;
        font-size: clamp(1.3rem, 3vw, 1.5rem);
        color: $light-grey;
      }

      .definitions-list {
        list-style: none;
        font-size: clamp(1.3rem, 3vw, 1.5rem);
        color: $grey;

        .definition {
          position: relative;
          padding-bottom: 8px;
          padding-left: 16px;

          &::before {
            content: "•";
            position: absolute;
            left: 0;
            color: $purple;
          }
        }
      }

      .synonyms {
        display: flex;
        gap: 8px;
        padding-top: 16px;
        font-size: clamp(1.3rem, 3vw, 1.5rem);

        .synonym-tag {
          color: $light-grey;
        }

        .synonyms-list {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          list-style: none;
          color: $purple;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }

  .result-footer {
    display: flex;
    gap: 8px;
    width: 100%;
    font-size: clamp(0.8rem, 1vw, 1rem);
    padding-top: 32px;

    .source-tag {
      color: $light-grey;
    }
    .source {
      color: $grey;
    }
  }

  .message {
    font-size: clamp(2.1875rem, 2.3295rem + -0.7102vw, 1.275rem);
    padding-bottom: 20px;

    &.centered {
      text-align: center;
    }

    .query {
      @include css-var-styles(color, $--icon-color);
    }
  }

  .suggestions-title {
    font-size: clamp(1.25rem, 1.3636rem + -0.5682vw, 1rem);
  }

  .suggestions {
    padding: 24px;

    .suggestion {
      padding-bottom: 8px;

      &::marker {
        @include css-var-styles(color, $--icon-color);
      }
    }
  }
}
