@import "partials/colors";
@import "partials/variables";
@import "partials/themes";
@import "partials/mixins";
@import "partials/breakpoints";

:root.dark {
  @include theme-colors($theme-map-dark);
}

:root:not(.dark) {
  @include theme-colors($theme-map-light);
}

*,
::before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $primary-font-family;
  margin: 20px auto;
  align-items: center;
  font-size: $base-font-size;
  min-height: 100vh;
  width: 50vw;
  min-width: 250px;
  max-width: 1024px;
  @include css-var-styles(background-color, $--primary-bg);
  @include css-var-styles(color, $--primary-font-color);

  @include breakpoint(medium) {
    width: 100%;
  }
}

svg {
  width: 20px;
  max-height: 20px;
}

.app-wrapper {
  width: 50vw;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 10px;

  @include breakpoint(medium) {
    width: 100%;
  }
}

.app-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px 10px 10px;
  display: flex;

  .app-form {
    position: relative;
    padding-left: 50%;
    display: flex;
    justify-content: left;

    .select-wrapper {
      position: relative;
      right: 40%;
      .font-select {
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 0.2em 2em 0.2em 0.2em;
        font-family: $primary-font-family;
        color: $grey;
        cursor: pointer;
        outline: none;
      }
      .arrow-down {
        position: absolute;
        right: 5%;
        top: 16%;
        fill: $purple;
        width: 15px;
      }
    }
    .theme-wrapper {
      position: relative;
      top: 50%;
      left: -20%;
      transform: translate(-50%, -50%);

      .moon {
        width: 15px;
        @include css-var-styles(fill, $--icon-color);
        position: sticky;
        transform: translate(300%, 20%);
      }

      .theme-input {
        position: absolute;
        width: 35px;
        height: 20px;
        appearance: none;
        background-color: $grey;
        outline: none;
        border-radius: 20px;
        transition: 0.5s;

        &:checked {
          background-color: $purple;
        }

        &:before {
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 20px;
          top: 7%;
          left: 5%;
          background-color: $white;
          transition: 0.5s;
        }
        &:checked:before {
          left: 19px;
        }
      }
    }
  }
}

.search-form {
  display: flex;
  gap: 10px;
  padding: 10px 30px 10px 10px;

  .search-input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-family: $primary-font-family;
    @include css-var-styles(background-color, $--input-color);
    font-weight: bold;
    @include css-var-styles(color, $--primary-font-color);
  }
  .search-label > .lens {
    width: 15px;
    margin-top: 10px;
    cursor: pointer;
    @include css-var-styles(fill, $--icon-color);
  }
}

.result-wrapper {
  padding: 10px;

  .lexico-entry {
    display: flex;
    justify-content: space-between;

    .lexico-phrase {
      font-size: clamp(1.5625rem, 0.9943rem + 2.8409vw, 2.8125rem);
      font-weight: bold;
    }
    .pronunciation-button {
      padding: 1rem;
      border: none;
      border-radius: 50%;
      background-color: $light-purple;
      cursor: pointer;

      @include breakpoint(large) {
        padding: 0.5rem;
      }

      .button-icon {
        @include css-var-styles(fill, $--icon-color);
        padding-top: 2px;
        padding-left: 5px;
      }
    }
  }
  .lexico-pronunciation {
    color: $purple;
  }
}

.parts-of-speech {
  padding-top: 2rem;

  .part-of-speech-container {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;

    .part-of-speech {
      display: inline-block;
      font-family: $primary-font-family;
      font-weight: bold;
      font-size: clamp(0.875rem, 0.7045rem + 0.8523vw, 1.25rem);
    }

    .purple-line-container {
      padding-top: 7px;
      display: flex;
      align-items: center;
      width: 100%;
    }
    .purple-line {
      width: 100%;
      border: 1px solid $purple;
    }
  }

  .meaning {
    display: inline-block;
    padding-bottom: 0.8rem;
    color: $light-grey;
    font-size: clamp(0.75rem, 0.6364rem + 0.5682vw, 1rem);
  }

  .definitions-list {
    list-style: none;
    color: $grey;
    font-size: clamp(0.75rem, 0.5795rem + 0.8523vw, 1.125rem);
    list-style-position: outside;

    .definition {
      padding-bottom: 0.5rem;
      padding-left: 2rem;
      position: relative;

      &::before {
        content: "•";
        color: $purple;
        position: absolute;
        left: 1%;
      }
    }
  }

  .synonyms {
    display: flex;
    padding-top: 2rem;
    gap: 10px;
    font-size: clamp(0.75rem, 0.6932rem + 0.2841vw, 0.875rem);

    .synonyms-tag {
      color: $light-grey;
    }
    .synonyms-list {
      display: flex;
      gap: 10px;
      list-style: none;
      color: $purple;
      font-weight: bold;
    }
  }

  .usage {
    color: $light-grey;
    font-size: 14px;
    padding-left: 1rem;
    font-size: clamp(0.75rem, 0.6932rem + 0.2841vw, 0.875rem);
  }
}

footer {
  display: flex;
  gap: 10px;
  width: 100%;
  font-size: 10px;
  padding: 10px;
  padding-top: 1.5rem;
  .source-tag {
    color: $light-grey;
  }
  .source {
    color: $grey;
  }

  .copy-icon {
    width: 8px;
    cursor: pointer;
  }
}
.search-message {
  .message-heading {
    padding-bottom: 20px;
    font-size: clamp(2.1875rem, 2.3295rem + -0.7102vw, 1.275rem);

    .query {
      @include css-var-styles(color, $--icon-color);
    }
  }
}

.suggestions {
  font-size: clamp(1.25rem, 1.3636rem + -0.5682vw, 1rem);
}

.suggestions-list {
  padding: 20px;

  .suggestion-item {
    padding-bottom: 8px;

    &::marker {
      @include css-var-styles(color, $--icon-color);
    }
  }
}
