@import "partials/colors";
@import "partials/variables";
@import "partials/themes";
@import "partials/mixins";
@import "partials/breakpoints";

:root.dark {
  @include theme-colors($theme-map-dark);
}

:root:not(.dark) {
  @include theme-colors($theme-map-light);
}

*,
::before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $primary-font-family;
  margin: 20px auto;
  align-items: center;
  font-size: $base-font-size;
  min-height: 100vh;
  width: 50vw;
  min-width: 250px;
  max-width: 1024px;
  @include css-var-styles(background-color, $--primary-bg);
  @include css-var-styles(color, $--primary-font-color);

  @include breakpoint(medium) {
    width: 100%;
  }
}

svg {
  min-width: 1vw;
}

.app-wrapper {
  width: 50vw;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;

  @include breakpoint(medium) {
    width: 100%;
  }
}

.app-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  .logo {
    font-size: clamp(2rem, 3vw, 3rem);
  }

  .app-form {
    display: flex;
    align-items: center;
    gap: 20px;

    .select-wrapper {
      display: flex;
      align-items: center;
      position: relative;
      gap: 5px;

      .font-select {
        appearance: none;
        background-color: transparent;
        border: none;
        padding: 0.3em;
        font-family: $primary-font-family;
        color: $light-grey;
        cursor: pointer;
        font-size: clamp(1rem, 2vw, 1.3rem);
      }

      .font-label {
        display: inline-block;
        width: 15px;
        height: 15px;

        .arrow-down {
          fill: $purple;
        }
      }
    }
    .theme-wrapper {
      position: relative;
      display: flex;
      gap: 5px;
      .theme-label {
        display: flex;
        align-items: center;
        .moon {
          @include css-var-styles(fill, $--icon-color);
          width: 15px;
        }
      }

      .theme-input {
        appearance: none;
        background-color: $grey;
        width: 40px;
        height: 20px;
        border-radius: 20px;
        transition: 0.5s;

        &:checked {
          background-color: $purple;
        }

        &:before {
          position: absolute;
          content: "";
          width: 17px;
          height: 17px;
          border-radius: 20px;
          top: 9%;
          left: 1%;
          background-color: $white;
          transition: 0.5s;
        }
        &:checked:before {
          left: 22px;
        }
      }
    }
  }
}

.search-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .search-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: $primary-font-family;
    @include css-var-styles(background-color, $--input-color);
    font-weight: bold;
    @include css-var-styles(color, $--primary-font-color);

    &::placeholder {
      font-size: clamp(1rem, 2vw, 1.3rem);
      color: $light-grey;
    }
  }

  .search-label {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .search-label > .lens {
    width: 2vw;
    min-width: 15px;
    max-width: 40px;
    cursor: pointer;
    @include css-var-styles(fill, $--icon-color);
  }
}

.result-wrapper {
  .lexico-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .lexico-left-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .lexico-phrase {
      font-size: clamp(2.5rem, 6vw, 3rem);
      font-weight: bold;
    }
    .pronunciation-button {
      padding: 1rem 1.275rem;
      border: none;
      border-radius: 50%;
      background-color: $light-purple;
      cursor: pointer;

      .speaker {
        font-size: 1.7rem;
        vertical-align: middle;
        @include css-var-styles(color, $--icon-color);
      }
    }
  }
  .lexico-pronunciation {
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: $purple;
  }
}

.parts-of-speech {
  padding-top: 2rem;

  .part-of-speech-container {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;

    .part-of-speech {
      display: inline-block;
      font-family: $primary-font-family;
      font-weight: bold;
      font-size: clamp(1.5rem, 4vw, 2rem);
    }

    .purple-line-container {
      padding-top: 7px;
      display: flex;
      align-items: center;
      width: 100%;
    }
    .purple-line {
      width: 100%;
      border: 1px solid $purple;
    }
  }

  .meaning {
    display: inline-block;
    padding-bottom: 0.8rem;
    color: $light-grey;
    font-size: clamp(1.3rem, 3vw, 1.5rem);
  }

  .definitions-list {
    list-style: none;
    color: $grey;
    font-size: clamp(1.3rem, 3vw, 1.5rem);
    list-style-position: outside;

    .definition {
      padding-bottom: 0.5rem;
      padding-left: 2.1rem;
      position: relative;

      &::before {
        content: "•";
        color: $purple;
        position: absolute;
        left: 3%;
      }
    }
  }

  .synonyms {
    display: flex;
    padding-top: 2rem;
    gap: 10px;
    font-size: clamp(1.3rem, 3vw, 1.5rem);

    .synonyms-tag {
      color: $light-grey;
    }
    .synonyms-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      list-style: none;
      color: $purple;
      font-weight: bold;
    }
  }

  .usage {
    color: $light-grey;
    font-size: 14px;
    padding-left: 1rem;
    font-size: clamp(0.75rem, 0.6932rem + 0.2841vw, 0.875rem);
  }
}

footer {
  display: flex;
  gap: 10px;
  width: 100%;
  font-size: clamp(0.8rem, 1vw, 1rem);
  padding-top: 1.5rem;
  .source-tag {
    color: $light-grey;
  }
  .source {
    color: $grey;
  }
}
.search-message {
  .message-heading {
    padding-bottom: 20px;
    font-size: clamp(2.1875rem, 2.3295rem + -0.7102vw, 1.275rem);

    .query {
      @include css-var-styles(color, $--icon-color);
    }
  }
}

.suggestions {
  font-size: clamp(1.25rem, 1.3636rem + -0.5682vw, 1rem);
}

.suggestions-list {
  padding: 20px;

  .suggestion-item {
    padding-bottom: 8px;

    &::marker {
      @include css-var-styles(color, $--icon-color);
    }
  }
}
